.menu{
  list-style:none;
  background:#E7E7E7;
  margin:0;
  padding: 10px 30px;

  //menu_item
  &_item{
    display:inline-block;
    margin:0 15px;

    //menu_item_ativo
    &_ativo{
      background:#22c64d;
      padding:6px 8px;
      border-radius:3px;

      a{
        color:#fff!important;
      }
    }

    a{
      font-family:helvetica;
      text-decoration:none;
      color:#1d1d1d;
    }
  }
}